@model TestApplication.Models.CustomerName
@{
    ViewBag.Title = "Home";
}


<h2>Home</h2>
<head>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript">
        function Save()
        {
            $('.validation').remove();
            var isvalid = false;
            if ($('#txtFirstName').val() == '') {
                var message = document.getElementById('txtMessage');
                message.innerHTML = '';
                $('#txtFirstName').focus();
                $("#txtFirstName").after("<div class='validation' style='color:red;margin-bottom: 20px;'>First Name is Required</div>");
                return false;
            }
            if ($('#txtLastName').val() == '') {
                var message = document.getElementById('txtMessage');
                message.innerHTML = '';
                $('#txtLastName').focus();
                $("#txtLastName").after("<div class='validation' style='color:red;margin-bottom: 20px;'>Last Name is Required</div>");
                return false;
            }
            else
            {
                $("#txtFirstName").next('.validation').hide();
                $("#txtLastName").next('.validation').hide();
                isValid = true;
            }
        }
    </script>
</head>
<body>
@using (Html.BeginForm("Submit","Home",FormMethod.Post))
{
    
        <div >
           @Html.LabelFor(m=>m.FirstName)
            @Html.TextBoxFor(a=>a.FirstName,new { @id = "txtFirstName" })
            </div>
        <div>
            @Html.LabelFor(m => m.LastName)
            @Html.TextBoxFor(a => a.LastName, new { @id = "txtLastName" })
            </div>
                <label id="txtMessage">
                    @ViewBag.result
                </label>
            <div>
              
            <input type="submit" value="Submit" onclick="return Save();" />
        </div>
    
}
</body>